html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding:0;
    width: 100%;
    color: rgb(54,69,79);
}

ul.banner{
    margin: 0 !important;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    width: 100%;
    box-sizing: border-box;
    padding: 15px 0px;  
    height:auto;

    display: flex;
    justify-content: center;

    list-style-type: none;
    background:white;

    gap: 60px;
    border-bottom: 1px solid rgb(209,209,209); 
    overflow: hidden;   
}

.banner_item{

    text-align:center;

    text-decoration: none;
    color: rgb(54,69,79);

    &:hover{
        text-decoration: underline;
        color: rgb(80, 83, 231);
        opacity: 0.8;
    }

}

.main{

    position: relative;
    padding-top:60px;

    min-height: 100vh;

    text-align:center;
    justify-content: center;

}


h2, h3 {

    color: rgb(54,69,79);
    justify-content: center;

}

.connections{
    text-align: center;
}

a {
    margin:0 !important;
    line-height: 1 !important;
    text-align:center;
}

.connection_icon{
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.res_exp_header {
    display: flex;
    margin-left: 65vh;
    margin-right: 120px;
    flex-direction: row;    
    justify-content: space-between !important; 
    align-items: center;
    width: 80vh;
    text-align:center;
    padding-bottom: 0;
}

.res_exp{
    display:flex;
    flex-direction:column;
    width: 100vh;
    margin-bottom: 10px;
}

ul.exp_desc{
    text-align:left;
    list-style-type: disc;
    margin-left: 70vh;
}

pre{
    background: rgb(44, 43, 43);
    color: rgb(31, 217, 87)
}

section{
    padding-top: 50px;
}

.exp_loc{
    top:0;
    font-style: italic;
    margin-left: 65vh;
    text-align: left;
}

.cv_header{
    display: flex;
    margin-left: 65vh;
    margin-right: 120px;
    flex-direction: row;    
    justify-content: space-between !important; 
    align-items: center;
    width: 80vh;
    text-align:center;
    padding-bottom: 0;
}

.cv_exp{
    display:flex;
    flex-direction:column;
    width: 100vh;
    margin-bottom: 10px;
}

.hr{
    color:rgb(83, 83, 83)
}